.create-container {
  background: linear-gradient(135deg, #98fb98, #006400);

  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  background-attachment: fixed;
  float: left;
}

.title {
  color: DARKRED;
  display: FLEX;
  font-size: 20px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(70, 42, 42);
  font-weight: bolder;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.moodDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.moodDiv div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eraserbtn {
  align-items: center;
  background: red;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.numInput {
  padding: 5px;
  font-size: 25px;
  border-width: 2px;
  border-color: #ffe708;
  background-color: #f1eeee;
  color: #000000;
  border-style: outset;
  border-radius: 9px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  transition: transform 0.3s ease;
}

.numInput:hover {
  transform: scale(1.1);
}

.btnh2 {
  font-size: 1.5rem;
  color: rgb(31, 32, 32);
  font-family: fantasy;
}

.btnh3 {
  font-size: 2rem;
  color: rgb(255, 0, 200);
  font-family: fantasy;
}

.errorStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.errores {
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
}

.tex-err {
  font-size: 15px;
  color: red;
}
.prueba {
  display: flex;
  justify-content: flex-end;
}

/* .errorStyle > h1 {
    justify-self: flex-start ;
} */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  margin: 1rem;
  margin-top: 0.5em;
  padding: 13px 20px;
  background-color: #4caf50;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #45a049;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.alerta {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 50px;
  background-color: #f1dbda; /* Color de fondo (rojo) */
  color: #5cb6e7;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 9999;
  overflow: hidden;
  animation-name: alegria;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes alegria {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(15deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.cerrar-btn {
  position: relative;
  top: 0px;

  right: 3%;
  padding: 5px 10px;
  background-color: yellowgreen;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.cerrar-btn:hover {
  color: black;
  background-color: white;
}
